*{
  margin: 0;
  padding:0;
  text-decoration: none;
  list-style: none;
 
}
body{
  background-image: url(https://t4.ftcdn.net/jpg/03/90/08/41/360_F_390084175_OjGLvc32uWOhUPh56LBn5ZX9HQhjjNWx.jpg);
  background-size: cover;
  background-repeat: no-repeat;  
  box-sizing: border-box;
}
nav{
  
  text-align: center;
  display: inline-flex;
  height: 60px;
  padding: 10px;
  width: 100%; 
}
ul li{
  display: inline-block;
  padding-top: 25px;
  padding-right: 20px;
  text-align: left;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

label.logo{
  color: #ffffff;
  font-size: 40px;
  padding-right: 150px;
  margin-right: 300px;
}
ul li .info{
  color:#ffffff;
  text-align: left;
  float: right;
}
h1{
  text-align: center;
  font-family: alex brush;
  font-size: 90px;
  }
  div .subcontent{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  }
  div .subcontent1{
    font-family: alex brush;
    text-align: center;
    font-size: 30px;
  }
div .applink{
    display: inline-block;
    margin-right: 80px;
    margin-left: 500px;  
}
li .btn{
  font-size: 15px;
  border: solid black 2px;
  background: black;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}
.btn a{
  color: #ffffff;
}
div .footer{
  text-align: center;
  margin-top: 10px;
}