#payment-types{
    color: #0e3aa1;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    margin-left: 50px;
}
.two-types{
    display: grid;
    grid-template-columns: repeat(2, 45%);
}
.type1{
    margin: 30px;
    margin-left: 50px;
}
.type2{
    margin: 30px;
}
.type1 p, .type2 p{
    border-bottom: solid black 1px;
    padding-bottom: 15px;
    padding-left: 30px;
}
.offer-btn{
    background-color: #4ec94e;
    color: #ffff;
    border: solid black 1px;
    padding: 10px;
    margin-left: 230px;
    margin-bottom: -55px;
}
.types-heading{
    font-size: 20px;
    background-color: #2796f0;
    color: #ffff;
    padding-top: 10px;
    margin-top: -1px;
}
.fee-discription{
    font-size: 20px;
}
del{
    color: red;
}
.offer{
    color: #112f75;
    font-size: 25px;
    font-weight: 500;
}
.bracket-text{
    font-size: 15px;
    font-family: inherit;
    letter-spacing: .5px;
}