.about-fascoon{
    height: 100vh;
    width: 100%;  
    display: inline; 
}
.about-fascoon-content{
    column-count: 2;
    margin-top: 20px;
    padding-top: 50px;
    float: left;
}
.about-passage{
    margin-left: 20px;
    /*--margin-top andd padding top not working--*/
    padding-top: 35px;
    padding-right: 150px;
    color: blue;
    letter-spacing: 1px;
    float: right;
}
.para1{
    padding-top: 20px;
    margin-right: 25px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #696969;
    font-weight: 50px;
}
.point1{
    text-align: left;
    font-weight: 70px;
    color: #blue;
    padding: 10px;
}
a{
    color:#696969
}