* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
  }
  .header{
      min-height: 100vh;
      width: 100%;
      background-image: url(./images/background.jpg);
      background-size: cover;
      position: relative;
    }
    div img{
      margin-top: 30px;
      margin-left: 90px;
    }
    ul{
      float: right;
      margin: 50px;
    }
    ul li{
      display: inline-block;
      text-align: center;
      margin: 0px;
      padding: 20px;
    }
  div .nav-menu{
    background-color: rgb(219, 219, 226);
    height: 120px;
    width: 100%;
    opacity: 0.5;    }    
 
  ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  
  ul ul{
    position: absolute;
    display: none;
  }
  ul li a:hover{
    background-color:red;
  }
  ul li .btn{
    margin: 25px;
    background-color: blue;
    padding: 15px;
    border-radius: 35%;
    color: white;
  }
 