*{
    margin:0;
    padding:0;
    font-family: 'Nanum Myeongjo', serif;
}
body{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    color:#ffff; 
    font-weight: 600;
    text-align: center;
    bottom:5%;
    
}
.input_container{
    width:100vh;
    position:relative;
    top:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.input{
    font-size:22px;
    font-weight: 500;
    padding:10px 5px;
    width:70%;
    margin:0% 3%;
    border:none;
    border-radius: 10px;
    outline: none;
    color:black;
}
.addButton{
    width:10%;
    padding:10px 5px;
    font-size:20px;
    border:none;
    border-radius: 10px;
    outline: none;
}
.data_container{
    width:100vh;
    margin:10% 0% 3% 28%;
    position:absolute;
}
.item_input{
    font-size:22px;
    font-weight: 500;
    padding:10px 5px;
    width:70%;
    margin:1% 2%;
    border:none;
    border-radius: 10px;
    outline: none;
    color:#ffff;
}
.item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.editButton{
    width:10%;
    margin: 3px;
    font-size:20px;
    border:none;
    border-radius: 10px;
    outline: none;
}
.removeButton{
    width:15%;
    font-size:20px;
    border:none;
    border-radius: 10px;
    outline: none;
}