li{
    
    font-size: 35px;
    font-weight: bold;
    color: yellowgreen;
    list-style: none;
}
.btn{
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    font-size: medium;
}
.btn:hover{
    background-color: lightcyan;
}